html body{
  background-color: gray;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

main
{
  background-color: white;
  font-size: large;
}

.form-group
{
  margin: 20px;
}

form{
  margin: 25px;
}

footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #d1e0e0;
color: white;
text-align: center;
}
